
.container {
display: flex;
flex-direction: column;
align-items: center;

}
.row {
    margin: 8px ;
    
}
.input {
    padding: 11px 10px;
    border-radius: 8px;
    font-size: medium;
    margin-left: 5px;;
    
}
.button {
    margin: 5px;
    width: 40px;
    height: 40px;;
    background-color: grey;
    color: white;
    font-weight: 700;
    font-size: 24px;
    border-radius: 20px;
    padding: 2px 6px 2px 6px;
}
.sign {
    background-color: rgba(255, 204, 0, 0.996);
    color: white;
    
}
.upper {
    background-color: rgba(128, 128, 128, 0.471);
    color: black;
    
}
.dot {
    margin: 10px;
}
.zero {
    width: 87px;
    height: 40px;
    border-radius: 20px;
    font-size: 26px;
    text-align: left;
    color: white;
    background-color: gray;
}
.clear {
    width: 87px;
    border-radius: 20px;
    text-align: left;
}
